<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="stylesheet" href="/css/bootstrap.css">

</head>

<body>

<div class="container">

<div class="row">

    <div class="jumbotron" style="color: #fff;background-color: #337ab7;border-color: #337ab7;">
        <h1><%= title %></h1>
    </div>

    <div class="well"><p>正在为您构建代码,请稍候,下载将自动开始...</p></div>


    <input type="button" id="back" value="返回首页" class="btn btn-primary">

</div>

</div>


</body>

<script src="/js/build.js"></script>

</html>
