<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='css/style.css'/>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/simple_pc.css">
    <!-- IE兼容  -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script>html5.addElements('test')</script>
    <![endif]-->
    <script src="js/riot.js"></script>
    <script src="js/common.js"></script>
    <script src="js/iToolkit_pc.js"></script>

    <style>
        iframe {
            width: 100%;
            padding: 0;
            border: 0px;
            height: 500px;

            border-radius: 6px;
            background-color: #337ab7;
            border-color: #337ab7;
        }

        #tree-wrap {
            height: 500px;
            padding: 0;
        }
    </style>

</head>

<body>


<div class="container">


    <div class="row">
        <div class="jumbotron" style="color: #fff;background-color: #337ab7;border-color: #337ab7;height: 150px;padding-top: 20px;padding-bottom: 20px;">
            <h3><%= title %></h3>

            <h4>可自定义的常用工具函数库Util.js，兼容浏览器，require JS和node JS调用</h4>
        </div>
    </div>


    <div class="row">
        <div id="tree-wrap" class="col-lg-3 col-md-3 col-sm-3 col-sx-3">


            <div class="panel panel-primary" style="height: 100%;">

                <div class="panel-heading" style="height: 60px;">勾选以个性化编译模块,点击以预览代码及文档:</div>

                <div class="panel-body" style="height: 388px; overflow-y: scroll;">
                    <tree></tree>
                </div>
                <div class="panel-footer" style="height: 50px;">

                    <form class="form-inline">
                        <select class="form-control btn-sm" id="select">
                            <option value="dev">dev 版本</option>
                            <option value="min">min 版本</option>
                        </select>
                        <input type="button" id="submit" value="生成勾选的组件" class="btn btn-primary btn-sm" style="margin-left: 10px;">
                    </form>

                </div>
            </div>

        </div>

        <div id="code-view" class="col-lg-6 col-md-6 col-sm-6 col-sx-6">
            <iframe id="code" src="content?type=default&module=code"></iframe>
        </div>


        <div id="doc-view" class="col-lg-3 col-md-3 col-sm-3 col-sx-3">
            <iframe id="doc" style="background-color: white; border: 1px solid #337ab7;"
                    src="content?type=default&module=doc"></iframe>
        </div>
    </div>

</div>


</body>
<script>

    var modules = '<%=modules%>';

    var modulesArr = modules.split(',');

    var tree1 = [];

    var tree2 = [];

    //循环遍历modules,将数据转换成treecview需要的格式
    for (var i = 0; i < modulesArr.length; i++) {

        if (modulesArr[i].indexOf('/') > -1) {

            var newArr = modulesArr[i].split('/');
            // 遍历去重
            var repeatFlag = false;
            for (var j = 0; j < tree1.length; j++) {
                if (tree1[j] == newArr[0]) {
                    repeatFlag = true;
                }
            }
            if (!repeatFlag) {
                tree1.push(newArr[0]);
            }
            // 插入2级包
            tree2.push(newArr);
        } else {
            tree1.push(modulesArr[i]);
        }

    }

    console.log("1级包:");
    console.log(tree1);


    // 开始构造一维数组,一级:
    var dataAarr = [];
    for (var l = 0; l < tree1.length; l++) {
        var obj = {};
        obj.id = dataAarr.length + 1;
        obj.pid = null;
        obj.title = tree1[l];
        dataAarr.push(obj);
    }

    // 开始构造一维数组,二级:
    for (var m = 0; m < tree2.length; m++) {
        var obj = {};
        obj.id = dataAarr.length + 1;
        // 遍历寻找父id
        for (var n = 0; n < tree1.length; n++) {
            if (tree1[n] == tree2[m][0]) {
                obj.pid = n + 1;
            }
        }
        obj.title = tree2[m][0] + '/' + tree2[m][1];
        dataAarr.push(obj);
    }

    console.log('转换后的数据:');
    console.log(dataAarr);

    var selectedArr = [];

    var treeOpts = {
        data: dataAarr,
        link: true,   //checkbox是否联动
        openLevel: 0, //默认展开多少层级，1为展开最外层，
        handleData: true,   //data为一维数组，选true, data为树结构，选false
        name: 'title',      //名称字段在接口中的字段名

        //左键点击的回调。第一个参数为对应的数据item, 第二个参数为对应的dom
        onLeftClick: function (item, target) {

            // alert('This item\'s id is: ' + item.title);
            // 设置code

            // 这里要不点击父选项才加载


            for (var j = 0; j < dataAarr.length; j++) {

                if (item.id == dataAarr[j].id) {

                    if (dataAarr[j].children) {

                        console.log('has children!');

                        document.getElementById('code').src = '/content?type=default&module=code';
                        document.getElementById('doc').src = '/content?type=doc&module=' + item.title;
                    } else {
                        document.getElementById('code').src = '/content?type=code&module=' + item.title;
                        document.getElementById('doc').src = '/content?type=doc&module=' + item.title;
                    }
                }
            }


//            document.getElementById('code').src = '/content?type=code&module=' + item.title;
//            document.getElementById('doc').src = '/content?type=doc&module=' + item.title;

            // 设置doc

        },

        showCheck: true,   //是否展示checkbox, 默认为false;
        onCheck: function (item, target) {
            selectedArr.push(item.id);
        },
        onUnCheck: function (item, target) {
            for (var i = 0; i < selectedArr.length; i++) {
                if (selectedArr[i] == item.id) {
                    selectedArr.splice(i, 1);
                }
            }
            // alert(item.id + 'unchecked');
        }
    }
    riot.mount('#tree-wrap tree', treeOpts);


    var modules = document.querySelectorAll('#input[type=checkbox]');

    submit.onclick = function () {
        console.log(selectedArr);

        var selectedModules = [];

        // 根据已经选择的数组,将数据解析出来,发到服务器:
        // 遍历数据,如果勾选了只有一级没有二级的选项,则直接加入,否则,就要看二级是全选还是非全选
        for (var i = 0; i < selectedArr.length; i++) {

            // 在结构中找到这个数据
            for (var j = 0; j < dataAarr.length; j++) {
                // 找到了元素
                if (selectedArr[i] == dataAarr[j].id) {
                    // 是否有子元素?
                    if (dataAarr[j].children) {

                        // 遍历子元素,加到模块儿数组
                        for (var k = 0; k < dataAarr[j].children.length; k++) {

                            if (selectedArr[i] == dataAarr[j].children[k].pid) {
                                selectedModules.push(dataAarr[j].children[k].title);
                            }

                        }
                    } else {
                        // 直接把模块添加到数组
                        selectedModules.push(dataAarr[j].title);
                    }
                }
            }

        }

        console.log('打印选择的modules:');
        console.log(selectedModules);

        if (selectedModules.length > 0) {
            window.location.href = "bife-iutils/build?module=" + selectedModules.join(',') + "&select=" + document.getElementById('select').value;
        } else {
            alert('请勾选需要打包的组件~');
        }


    }
</script>

</html>
