<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/simple_pc.css">
    <!-- IE兼容  -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script>html5.addElements('test')</script>
    <![endif]-->
    <script src="/js/riot.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/iToolkit_pc.js"></script>

</head>

<body>

<h1><%= title %></h1>

<p>请勾选你需要的组件:</p>


<div id="tree-wrap" class="demo">
    <tree></tree>
</div>


<!--<ul id="modules">-->
    <!--<% for(var i=0; i < modules.length; i++) {%>-->
    <!--<li><input type="checkbox" id="<%= modules[i] %>"> <%= modules[i] %></li>-->
    <!--<% } %>-->
<!--</ul>-->

<input type="button" id="submit" value="生成勾选的组件">


</body>
<script>

    var modules = '<%=modules%>';

    var modulesArr = modules.split(',');

    var tree1 = [];

    var tree2 = [];

    //循环遍历modules,讲数据转换成treecview要的格式
    for (var i = 0; i < modulesArr.length; i++) {

        if (modulesArr[i].indexOf('/') > -1) {

            var newArr = modulesArr[i].split('/');

            // 遍历去重
            var repeatFlag = false;

            for (var j = 0; j < tree1.length; j++) {

                if (tree1[j] == newArr[0]) {
                    repeatFlag = true;
                }
            }

            if (!repeatFlag) {
                tree1.push(newArr[0]);
            }

            // 插入2级包

            tree2.push(newArr);

        } else {
            tree1.push(modulesArr[i]);
        }
    }

    console.log("1级包:");
    console.log(tree1);


    // 开始构造一维数组,一级:
    var dataAarr = [];
    for (var l = 0; l < tree1.length; l++) {
        var obj = {};
        obj.id = dataAarr.length + 1;
        obj.pid = null;
        obj.title = tree1[l];
        dataAarr.push(obj);
    }

    // 开始构造一维数组,二级:
    for (var m = 0; m < tree2.length; m++) {
        var obj = {};
        console.log('打印数组2:');
        console.log(tree2[m]);

        obj.id = dataAarr.length + 1;

        // 遍历寻找父id
        for (var n = 0; n < tree1.length; n ++) {
            if (tree1[n] == tree2[m][0]) {
                obj.pid = n + 1;
            }
        }

        obj.title = tree2[m][1];

        dataAarr.push(obj);
    }



    console.log('dataAarr');
    console.log(dataAarr);


    var treeOpts = {
        data: dataAarr,
        link: true,   //checkbox是否联动
        openLevel: 2, //默认展开多少层级，1为展开最外层，
        handleData: true,   //data为一维数组，选true, data为树结构，选false
        name: 'title',      //名称字段在接口中的字段名

        //左键点击的回调。第一个参数为对应的数据item, 第二个参数为对应的dom
        onLeftClick: function (item, target) {
            alert('This item\'s id is: ' + item.id);
        },

        showCheck: true,   //是否展示checkbox, 默认为false;
        onCheck: function (item, target) {
            // alert(item.id + 'checked');
        },
        onUnCheck: function (item, target) {
            // alert(item.id + 'unchecked');
        }
    }
    riot.mount('.demo tree', treeOpts);
</script>
<script src="/js/index.js"></script>

</html>
